.container {
  background-color: var(--color-primary-light);
  width: 45rem;
  border-radius: 10px;
  padding: 0 2rem;
  margin-bottom: 1rem;
  height: 75vh;
  position: relative;

  @include responsive-phone {
    width: 35rem;
    height: 80vh;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}
