:root {
  --color-primary-light: #f0ebe3;
  --color-primary-dark: #c3ada0;
  --color-white: #fcfcfc;
  --color-gray-light: #bdbdbd;
  --color-gray-dark: #575757;
  --color-priority-low: #96ce74;
  --color-priority-medium: #d2cc3a;
  --color-priority-high: #f28168;
  --color-error: #da2923;
}
